@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: "Archivo", sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #0a0a0a;
}

::-webkit-scrollbar-thumb {
    background-color: #730808;
    border-radius: 10px;
}

::selection {
    color: #020202;
    background-color: #730808;
}

body {
    background-color: #111111;
    width: 100%;
    height: 100%;
}

.grid-layout {
    max-width: 1280px;
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 100px;
    background-color: #111111;
    padding: 0 24px;
    position: fixed;
}

#header #nav {
    height: 100px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header #header-logo {
    font-size: 3.6rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

#header #header-logo span {
    color: #730808;
}

#nav #mobile-menu-icon {
    display: none;
}

.mobile-menu{
    display: none;
}

#nav #menu-mobile #line-1,
#nav #menu-mobile #line-2,
#nav #menu-mobile #line-3 {
    width: 32px;
    height: 1px;
    background-color: #D9D9D9;
    margin: 8px;
}

#nav #nav-list {
    display: flex;
}

#nav #nav-list li {
    font-size: 1.8rem;
    margin-left: 48px;
}

#nav #nav-list li:first-child {
    margin: 0;
}

#nav #nav-list li a {
    color: #959595;
}

#s-home {
    padding: 0 50px;
}

#home {
    padding: 200px 0 100px 0;
}

#home-container-text #home-name {
    color: #959595;
    font-size: 3.6rem;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 8px;
}

#home-container-text #home-profession {
    color: #fff;
    font-size: 12.0rem;
    font-weight: 800;
    line-height: 100px;
    text-transform: uppercase;
}

#home-container-text #home-profession span {
    color: #730808;
}

#home-container-text #home-btn-description {
    margin: 18px 0 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#home-container-text #home-btn-description #home-buttons a img{
    margin-right: 30px;
}

#home-container-text #home-btn-description #home-description {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 500;
    width: 510px;
}

#s-about {
    padding: 0 50px;
}

#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0 200px 0;
}

#about img {
    max-width: 100%;
}

#about #about-container-text {
    margin-left: 88px;
}

#about #about-container-text #about-me {
    color: #730808;
    font-size: 2rem;
    font-weight: 600;
}

#about #about-container-text #about-name {
    color: #fff;
    font-size: 4rem;
    font-weight: 800;
    margin: 15px 0 15px 0;
}

#about #about-container-text #about-profession {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 45px;
}

#about #about-container-text #about-description {
    color: #959595;
    font-size: 2rem;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 30px;
}

#about #about-container-text #about-buttons {
    display: flex;
    justify-content: center;
}

#about #about-container-text #about-buttons a {
    margin-right: 30px;
}

#about #about-container-text #about-buttons a:last-child {
    margin-right: 0;
}

#s-projects {
    background-color: #171717;
    padding: 0 50px;
}

#projects {
    display: flex;
    flex-direction: column;
}

#projects h2{
    color: #730808;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    margin: 35px 0 80px 0;
}

#projects #projects-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: left;
    row-gap: 22px;
    margin-bottom: 80px;
}

#projects #projects-container .project {
    width: 364px;
    margin: 11px;
    background-color: #111111;
    border: 1px solid #b50a0a;
    border-radius: 10px;
    margin-bottom: auto 0;
    padding: 32px;
}

.project #project-title {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
}

.project #project-description {
    margin: 20px 0 20px 0;
    color: #959595;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}

.project #project-link {
    color: #730808;
    font-size: 2rem;
    font-weight: 600;
}


#s-skills {
    padding: 0 50px;
}

#skills {
    padding: 170px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#skill-container-text #skill-title {
    color: #730808;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 30px;
}

#skill-container-text #skill-description {
    width: 404px;
    color: #959595;
    font-size: 2rem;
    font-weight: 500;
    line-height: 28px;
}

#skills-container {
    display: flex;
    width: 444px;
    flex-wrap: wrap;
    gap: 30px;
}

#skills-container .skill {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 128px;
    border-radius: 15px;
    background-color: #171717;
    border: 1px solid #262626;
    transition: border-color 0.4s ease;
}

#skills-container .skill:hover {
    border-color: #730808;
}

#skills-container .skill img {
    max-width: 60px;
}

#footer {
    padding: 0 50px;
    background-color: #171717;
}

#contact {
    padding: 50px 0 30px;
}

#contact #contact-container {
    display: flex;
    justify-content: space-between;
}

#contact #contact-container #footer-logo h2 {
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#contact #contact-container #footer-logo h2 span {
    color: #730808;
}

#contact #contact-container #footer-logo p {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
}

#contact #contact-container #footer-useful-links h2,
#contact #contact-container #footer-social-media h2,
#contact #contact-container #footer-email-contact h2 {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 30px;
}

#contact #contact-container #footer-useful-links a p,
#contact #contact-container #footer-social-media a p {
    color: #959595;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 15px;
}

#footer-email-contact #email-contact-btn {
    width: 297px;
    height: 41px;
    border-radius: 5px;
    border: 1px solid #730808;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-email-contact #email-contact-btn p {
    color: #959595;
    font-size: 1.6rem;
    font-weight: 500;
}

#footer-container-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
}

#footer-container-copyright #copyright p{
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 500;
}

#footer-container-copyright #copyright p span {
    color: #730808;
}

#footer-container-copyright #powered-by{
    display: flex;
    align-items: center;
}

#footer-container-copyright #powered-by p {
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 500;
}

#footer-container-copyright #powered-by img {
    margin-left: 8px;
}